<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Demo</title>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
</head>

<body>
 <div class="login">
  <h1>User Recommendation</h1>
     <!-- Define a form to take input from user -->
        <form action="{{ url_for('predict')}}" method="post">
        <label for="User">User</label>
        <input type="text" name="User" required="required" />
        <button type="submit">Predict</button>
    </form>

   <br>
   <H2>
   {{ OUTPUT }}
 </H2>
 </div>


</body>
</html>
